%h1 Airtable#index

%strong List of companies
%br
%br
-@companies_records.each do |record|
	=record.name 
	%br
	%a{:href => record.linkedin} Linkedin
	%br
	%br
	


%strong List of helpees

%br
%br
-@helpees_records.each do |record|
	=record.name 
	%br
	%a{:href => record.linkedin} Linkedin
	%br
	-if record.notes.present?
		=record.notes 
		%br
	-if record.company.present?
		=@companies_table.find(record.company.first).name
	%br


	%br

